<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>School Class</title>
  </head>
  <body>
    <h1><%= @school_class.title %></h1>
    <p><%= @school_class.room_number %></p>
  </body>
</html>
